* {
  box-sizing: border-box;
}
p {
  padding: 10px;
  margin: 0;
}
a {
  color: #0000ff;
}
a:hover {
  color: #ffffff;
}
.container {
  width: 100%;
  margin: 0;
  padding-left: 70px;
  border: 2px solid #000000;
  background-color: #808080;
}
#top {
  font-family: sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: #000000;
}
#heading {
  font-family: sans-serif;
  margin: 50px;
  text-align: center;
  font-size: 35px;
  padding-bottom: 5px;
}
.row {
  margin: 20px;
}
.outside {
  margin: 10px;
  border: 3px solid black;
  background-color: #808080;
  height: auto;
  font-family: Helvetica;
  position: relative;
  overflow: none;
}
.topic {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.navbar-toggle {
  float: right;
  margin: 5px;
  padding: 16px 15px;
  border: 1px solid black;
}
.nav li {
  display: inline;
  color: black;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000000;
  font-family: Lato;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}
